.app-header {
  display: flex;
  justify-content: center; /* Center align title */
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  position: relative;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1; /* Allow it to take up space */
  text-align: center; /* Ensure text stays centered */
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 20px; /* Keep profile icons on the right */
}

.profile-icon {
  font-size: 25px; /* Increase icon size */
  cursor: pointer;
}